body {
    padding-top: 20px;
    padding-bottom: 20px;
}
div.section
{
    height: 500px;
}
#footer_wrap
{
    margin: auto;
    width: 100%;
    background-color: #343a40;
    padding: 10px;
    text-align: center;
    color: white;
}