<footer class="footer">
    <div id="footer_wrap"> <span>&copy; 90210 Lawyer Stuff.</span></div>
</footer>
<script src="http://europa.narola.online/pg/Boame//assets/js/jquery.min.js"></script>
<script src="http://europa.narola.online/pg/Boame//assets/js/jquery.validate.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>