<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CRUDDemo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarsExample03" style="">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if (page_name == 'dashboard') { %>active <% } %>">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item <% if (page_name == 'list') { %>active <% } %> ">
            <a class="nav-link" href="/list">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        </ul>
        <div class="my-2 my-md-0">
        </div>
    </div>
</nav>