<%- include('../partials/header') %>
<body>
    <div class="container">
        <%- include('../partials/navbar') %>
        <div class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-group">
                        <form action="/item" enctype="multipart/form-data" method="POST" id="add_form">
                            <div class="col-sm-3 form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" cols="30" rows="10" ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="photo">Photo</label>
                                <input type="file" class="form-control" name="photo" id="photo">
                            </div>
                            <button type="submit" class="btn btn-info">Add item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>