<%- include('../partials/header') %>
<body>
    <div class="container">
        <%- include('../partials/navbar') %>
        <div class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-group">
                        <form action="/edit/<%= data.id %>" method="POST" enctype="multipart/form-data" id="edit_form">
                            <div class="col-sm-12 form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" name="name" id="name" value="<%= data.name %>">
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="description">Description:</label>
                                <textarea name="description" class="form-control" id="description" cols="30" rows="10" ><%= data.description %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="photo">Photo:</label>
                                <input type="file" class="form-control" name="photo" id="photo">
                                <input type="hidden" value="<%= data.photo %>" name="old_photo">
                                <div class="col-md-4" style="margin-top: 10px">
                                    <img src="/uploads/<%= data.photo %>"  class="img" width="100px" height="100px">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info">Edit item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>

