<%- include('../partials/header') %>
<body>
    <div class="container">
        <%- include('../partials/navbar') %>
        <div class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group text-right" style="margin-top: 10px">
                        <a class="btn btn-primary" href='add'>Add</a>
                    </div>
                    <h6>List of Items</h6>
                        <!-- loop over blog posts and render them -->
                        <table class="table table-striped">
                            <tr>
                                <td>Name</td>
                                <td>Description</td>
                                <td>Action</td>
                            </tr>
                            <% for(var i=0; i<data.length; i++) {%>
                                    <tr>
                                        <td><%= data[i].name %></td>
                                        <td width="50%"><%= data[i].description %></td>
                                        <td><a class="btn btn-info" href='edit/<%= data[i].id %>'>Edit</a> 
                                            <button id="view_btn" data-itemid = "<%= data[i].id %>" class="btn btn-default" data-toggle="modal" data-target="#myModal" role="dialog">View</button> 
                                            <a class="btn btn-danger" href='delete/<%= data[i].id %>' onclick="return confirm('Are you sure you want to delete this item?')">delete</a>
                                        </td>
                                    </tr>
                            <% } %>
                        </table>
          
                    </div>
                </div>
            </div>
        <%- include('../partials/footer') %>
    </div>
</body>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Item name : <p id="item_name"></p>
                    Item description : <p id="item_description"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</html>

