<%- include('partials/header') %>
<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div class="section" id="wrapper">
            <div class="dashboard_wrap col-md-3">Welcome, <%= username %></div> 
        </div>
        <%- include('partials/footer') %>
    </div>
</body>
</html>