<!DOCTYPE html>
<html>
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>CRUD Operation Using Node+Express+MySQL</title>
</head>
<body>
    <div class="container">
        <h3>CRUD Operation Using Node+Express+MySQL</h3>
        <section>
                <form class="form-horizontal" id="signin" name="signin" method="post" action="signin">
                        <div class="form-group">
                                <label for="email">Email Address</label>
                                <input name="email" type="text" class="form-control col-md-4"/>
                        </div>
                        <div class="form-group">
                                <label for="password">Password</label>
                                <input name="password" type="password" class="form-control col-md-4" />
                        </div>
                        <div class="form-group">
                                <input type="submit" value="Sign In" class="btn btn-success" />
                        </div>
                </form>
        </section>
    </div>
</body>
</html>